@font-face {
    font-family: Helvetica Neue;
}

body {
    background: #f8f7e5 url(../img/bg-big.jpg) no-repeat center top;
    background-size: 100%;
}

.menu {
    background: url(../img/bg-menu.jpg);
    width: 100%;
    height: 31px;
}

.menu ul {
    margin-right: 20px;
    float: right;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #5cb0e8;
    font-size: 13px;
    font-weight: 400;
    padding: 9px 13px;
    text-decoration: none;
    clear: both;
}

.menu a:hover {
    background-color: #4eabda
}

.menu li a:hover {
    color: #fff;
}

.flag {
    width: 30px;
    margin: -8px;
    float: left;
}

.menu2 {
    height: 29px;
    border-left: 1px solid #ccc;
    float: right;
    margin-left: 10px;
}

.menu2 li a {
    color: white;
}

.button {
    background: linear-gradient(to top, #2e7ac4, #50afdc);
}

.form1 {
    margin: 0 auto;
    margin-top: 140px;
    background: rgba( 0, 0, 0, 0.6);
    width: 450px;
    height: 50px;
}

.form1 p {
    font-family: Helvetica Neue, Arial, sans-serif;
    line-height: 55px;
    margin-left: 165px;
    color: white;
    font-size: 22px;
}

.form2 {
    margin: 1px auto;
    width: 450px;
    height: 450px;
    background: rgba( 0, 0, 0, 0.6);
    clear: both;
}

.icon {
    position: relative;
    top: 34px;
    left: 106px;
}

.facebook {
    width: 50%;
}

.forms {
    margin-top: 70px;
    line-height: 40px;
}

.ou_line {
    font-family: Helvetica Neue, Arial, sans-serif;
    position: relative;
    top: 50px;
    text-align: center;
    color: #696c68;
    overflow: hidden;
}

.ou_line p {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.ou_line p:before,
.ou_line p:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 22%;
  height: 1px;
  vertical-align: middle;
  background: #666666;
}
.ou_line p:before {
  left: -10px;
  margin-left: -50%;
}
.ou_line p:after {
  left: 10px;
  margin-right: -50%;
}


.forms {
    text-align: center;
    display: block;
}

span {
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #cccccc;
    font-size: 13px;
}

.names input {
    width: 230px;
    font-size: 13px;
    color: white;
    padding: 6px 0 4px 10px;
    border: 1px;
    border-bottom: 1px solid #484846;
    background: #0f0f0f;
}

.names input:hover {
    background: #1b5288;
}

.create input {
    width: 130px;
    font-size: 13px;
    padding: 10px 10px 10px 10px;
    border: 1px;
    border-bottom: 1px solid #484846;
    border-radius: 4px;
    color: white;
    background: linear-gradient(to top, #2e7ac4, #50afdc);
}

.create input:hover {
    background: linear-gradient(to top, #2e3ac4, #51afdc);
}

.terms {
    font-family: Arial;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
    padding-top: 11px;
    line-height: 16px;
}

.terms a {
    text-decoration: none;
    color: #cccccc;
}

.terms a:hover {
    color: white;
}
